# Project exclude paths
/.gradle/
/Flashcards/task/build/
/Flashcards/task/out/
/Flashcards/task/out/production/classes/
/Topics/The Map interface/Counting words/out/
/Topics/The Map interface/Counting words/out/production/classes/
/Topics/The Map interface/Sherlock Holmes and removing of characters/out/
/Topics/The Map interface/Sherlock Holmes and removing of characters/out/production/classes/